
###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
./config/secrets/prod/prod.decrypt.private.php
./public/bundles/
./var/
./vendor/
.composer/
.cache/
###< symfony/framework-bundle ###

###> tools ###
.idea/
###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###