<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DATABASE_URL" value="mysql://db_user:db_password@127.0.0.1:3306/test_db_name"/>
    </php>
</phpunit>